<header class="masthead clear">
  <div class="centered">
      
      <div class="site-branding">
          <h1 class="site-title">Products On Sale:</h1>
        <p>For Healthy & Productive animals<a title="Office Ipsum" href="http://officeipsum.com/index.php"></a> </p>
      </div><!-- .site-title -->
  </div><!-- .centered -->
</header><!-- .masthead -->

<main class="main-area">
  
  <div class="centered">

      <section class="cards">
          
          <article class="card">
              <a href="#">
                  <picture class="thumbnail">
                      <img src="assets/images/image1.jpeg" alt="A banana that looks like a bird">
                  </picture>
                  <div class="card-content">

                      <h2>Supplements </h2>
                      <p>Due to high needs of high-yield dairy cows and fatling beefs, varying levels of the mineral levels in raw materials, the result of negative interactions between minerals, animals can not meet their needs from just feed. Betramin created a supplement premix which contains high levels minerals inside in order to gain a healthy development and  provide a high level of efficiency for animals.</p>
                  </div><!-- .card-content -->
              </a>
          </article><!-- .card -->

          <article class="card">
              <a href="#">
                  <picture class="thumbnail">
                      <img src="assets/images/image1.jpeg" alt="Norwegian boller">
                  </picture>
                  <div class="card-content">
                      <h2>Additives</h2>
                      <p>Due to high needs of high-yield dairy cows and fatling beefs, varying levels of the mineral levels in raw materials, the result of negative interactions between minerals, animals can not meet their needs from just feed. Betramin created a supplement premix which contains high levels minerals inside in order to gain a healthy development and  provide a high level of efficiency for animals.</p>
                      <p>Symptoms of mineral deficiency, change depending on the severity of deficiencies. In the first stage problem occurs with the immune and enzyme functions. In a state of deficiency, respectively maximum growth stops and fertility problem occurs. Then thoroughly body weight gain reduce, stop, or even body weight loss occurs. In this stage clinical symptoms with mineral deficiencies begins to see</p>
                  </div><!-- .card-content -->
              </a>
          </article><!-- .card -->

          <article class="card">
              <a href="#">
                  <picture class="thumbnail">
                    <img src="assets/images/chickens.png" alt="Norwegian boller">
                  </picture>
                  <div class="card-content">
                      <h2>Chicken Feeds</h2>
                      <p>Viral engagement anti-pattern back of the net, for meeting assassin horsehead offer. Loop back design thinking drop-dead date. </p>
                  </div><!-- .card-content -->
              </a>
          </article><!-- .card -->

          <article class="card">
              <a href="#">
                  <picture class="thumbnail">
                    <img src="assets/images/cows.png" alt="Norwegian boller">
                  </picture>
                  <div class="card-content">
                      <h2>Dairy Feeds.</h2>
                      <p>We need a paradigm shift get all your ducks in a row. I just wanted to give you a heads-up we need distributors to evangelize the new line to local markets when does this sunset? so waste of resources, yet fire up your browser, or touch base closing these latest prospects is like putting socks on an octopus.</p>
                  </div><!-- .card-content -->
              </a>
          </article><!-- .card -->

          <article class="card">
              <a href="#">
                  <picture class="thumbnail">
                      <img src="http://www.abbeyjfitzgerald.com/wp-content/uploads/2017/02/image-example-05.jpg" alt="Chocolate frog on oranges">
                  </picture>
                  <div class="card-content">
                      <h2>Vacation Image 05</h2>
                      <p>Action item get buy-in, so work flows low-hanging fruit innovation is hot right now. Game plan UX, nor open door policy, this is a no-brainer, new economy obviously.</p>
                      <p>Who's responsible for the ask for this request? </p>
                  </div><!-- .card-content -->
              </a>
          </article><!-- .card -->

          <article class="card">
              <a href="#">
                  <picture class="thumbnail">
                      <img src="http://www.abbeyjfitzgerald.com/wp-content/uploads/2017/02/image-example-06.jpg" alt="A whiskey jack taking a dive">
                  </picture>
                  <div class="card-content">
                      <h2>Vacation Image 06</h2>
                      <p>Personal development win-win-win close the loop yet are there any leftovers in the kitchen? for wheelhouse game-plan. We need a recap by eod, cob or whatever comes first work flows pig in a python. </p>
                  </div><!-- .card-content -->
              </a>
          </article><!-- .card -->

          <article class="card">
              <a href="#">
                  <picture class="thumbnail">
                      <img src="http://www.abbeyjfitzgerald.com/wp-content/uploads/2017/02/image-example-07.jpg" alt="Playing Jenga with pool cues">
                  </picture>
                  <div class="card-content">
                      <h2>Vacation Image 07</h2>
                      <p>Face time nail jelly to the hothouse wall, for herding cats, and shelfware. Action item mobile friendly. Bleeding edge bake it in we are running out of runway this is meaningless your work on this project has been really impactful. Feature creep waste of resources.</p>
                      <p>Value-added take five, punch the tree, and come back in here with a clear head, one-sheet, nor pixel pushing, yet organic growth reach out. </p>
                  </div><!-- .card-content -->
              </a>
          </article><!-- .card -->
        
        <article class="card">
              <a href="#">
                  <picture class="thumbnail">
                      <img src="http://www.abbeyjfitzgerald.com/wp-content/uploads/2017/02/image-example-08.jpg" alt="Playing Jenga with pool cues">
                  </picture>
                  <div class="card-content">
                      <h2>Vacation Image 08</h2>
                      <p>On a recent trip to Europe my brothers and I invented a new game called "Pool Cue Jenga". It is the best game ever invented.</p>
                      <p>The rules are simple: You must use a pool cue to remove tiles. Only one cue can be used, and you can not use your fingers.</p>
                  </div><!-- .card-content -->
              </a>
          </article><!-- .card -->
        
        <article class="card">
              <a href="#">
                  <picture class="thumbnail">
                      <img src="http://www.abbeyjfitzgerald.com/wp-content/uploads/2017/02/image-example-01.jpg" alt="Playing Jenga with pool cues">
                  </picture>
                  <div class="card-content">
                      <h2>Vacation Image 09</h2>
                      <p>Moving the goalposts. Work productize after I ran into Helen at a restaurant, I realized she was just office pretty, or organic growth blue money, for we need to future-proof this. </p>
                      <p>Globalize golden goose pulling teeth, nor player-coach.</p>
                  </div><!-- .card-content -->
              </a>
          </article><!-- .card -->
        
         <article class="card">
              <a href="#">
                  <picture class="thumbnail">
                      <img src="http://www.abbeyjfitzgerald.com/wp-content/uploads/2017/02/image-example-02.jpg" alt="Playing Jenga with pool cues">
                  </picture>
                  <div class="card-content">
                      <h2>Vacation Image 10</h2>
                      <p>Moving the goalposts. Work productize after I ran into Helen at a restaurant, I realized she was just office pretty, or organic growth blue money, for we need to future-proof this. </p>
                      <p>Globalize golden goose pulling teeth, nor player-coach.</p>
                  </div><!-- .card-content -->
              </a>
          </article><!-- .card -->

      </section><!-- .cards -->
     
  </div><!-- .centered -->
  
</main>
<!-- <table class="table">
  <thead>
    <tr>
      <td>Name</td>
      <td>Price</td>
      <td>Action</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items"> 
      <td>{{item.name }}</td> 
      <td>${{item.price}}</td>
      <td>
        <button class="btn btn-secondary"
                (click)="addToCart()">
          Add to shopping cart
        </button>
      </td>
    </tr> 
  </tbody>
</table> -->
<div>
  <!-- <h3 class="col-md-12">Add a new Item</h3>
  <form class="form-inline" (submit)="addNewItem()" [formGroup]="itemForm">
    <div class="col-auto">
      <input type="text" 
        class="form-control" 
        placeholder="Name" 
        formControlName="name" 
        [ngClass]="{ 'is-invalid': itemSubmitted && getItemForm.name.errors }" >
        <div *ngIf="itemSubmitted && getItemForm.name.errors" class="invalid-feedback">
          <div *ngIf="getItemForm.name.errors.required">Name is required</div>
        </div>
    </div>
    <div class="col-auto">
      <input type="number" 
        class="form-control" 
        placeholder="Price" 
        formControlName="price" 
        [ngClass]="{ 'is-invalid': itemSubmitted && getItemForm.price.errors }" >
        <div *ngIf="itemSubmitted && getItemForm.price.errors" class="invalid-feedback">
          <div *ngIf="getItemForm.price.errors.required">Price is required and must be a number</div>
          <div *ngIf="getItemForm.price.errors.min">Must start from 0</div>
        </div>
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-2">Add new item</button>
    </div>
  </form> -->
</div>